// src/assets/scss/_variables.scss
@use "sass:color";

$zoho-blue: #2196F3;
$zoho-dark-blue: #263238;
$zoho-light-gray: #f0f2f5;
$zoho-extra-light-gray: #f9f9f9;
$zoho-gray: #eceff1;
$zoho-text-color: #424242;
$zoho-text-muted: #757575;
$zoho-success-green: #4CAF50;
$zoho-error-red: #f44336;
$zoho-warning-orange: #FF9800;
